.home {
  .page-cover {
    .seed-element {
      height: calc(100% + 5rem);
      margin-top: -2.5rem;
      position: relative;
      img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: auto;
        transform: translateX(50%);
        @include media-breakpoint-up(md) {
          height: 100%;
          transform: none;
        }
      }
    }
  }
  .intro {
    position: relative;
    z-index: -1;
    .intro-text {
      padding-bottom: 3rem;
      @include media-breakpoint-up(lg) {
          padding-bottom: 5rem;
      }
      @include media-breakpoint-up(xl) {
          padding-bottom: 7rem;
      }
      .seed-intro {
        width: 100%;

        height: 3rem;
        margin-bottom: 2rem;
        position: relative;
        @include media-breakpoint-up(lg) {
          height: 4.5rem;
          margin-bottom: 4rem;
        }
        @include media-breakpoint-up(xl) {
            height: 7.5rem;
            margin-bottom: 5rem;
        }
        .seed-grid {
          height: 200%;
          width: 100%;
          position: absolute;
          bottom: 0;
        }
      }
    }
    .seed-element {
      height: calc(100% + 5rem);
      margin-top: -2.5rem;
      position: relative;
      img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: auto;
      }
    }
  }
  .projects {
      position: relative;
      z-index: -2;
    .owl-carousel {
      padding-left: $grid-gutter-width / 2;
      padding-right: $grid-gutter-width / 2;
    }
    .owl-stage-outer {
      overflow: visible;
    }
    .project {
      figure {
        margin-bottom: .5rem;
        position: relative;
        padding-bottom: 50%;
        img {
          position: absolute;
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }
}

.about {
 .intro {
   @include media-breakpoint-up(lg) {
     background-image: linear-gradient(to right, $red, $red 50%, $rose 50%, $rose);
   }
   .main-text {
     @include media-breakpoint-down(md) {
       width: 150%;
       margin-left: -25%;
       padding-left: 25%;
       padding-right: 25%;
     }
     p {
       color: $wine;
     }
   }
 }
 .highlight {
   .photo {
     z-index: 0;
     width: 100%;
     .content {
       padding-bottom: 100%;
       @include media-breakpoint-up(md) {
         padding-bottom: 133.3333333%;
       }
       background-size: cover;
       background-position: center;
       width: 100%;
       border-radius: 10px;
       box-shadow: .125rem .25rem 2.5rem rgba(#000000, .1);
     }
   }
   .seed-strip {
     z-index: -1;
     bottom: 2rem;
     left: 0;
     .seed-grid {
       width: 200%;
       height: 0;
       padding-bottom: 66.6666%;
       transform: translateX(25%);
       @include media-breakpoint-up(lg) {
         height: 7.5rem;
         padding-bottom: 0;
       }
     }
   }
 }
 .members {
   .member {
     position: relative;
     &:last-child {
       hr {
         margin-top: 0;
         border-top: none;
       }
     }
     hr {
       margin-bottom: 0;
       margin-top: 1.5rem;
       border-top: 1px solid rgba($wine, .3);
     }
     @include media-breakpoint-up(lg) {
         padding-top: 3rem;
         margin-bottom: 0;
     }
     .photo {
       @include media-breakpoint-up(lg) {
         padding-right: 2rem;
       }
       .content {
         border-radius: 5px;
         padding-bottom: 100%;
         width: 100%;
         background-size: cover;
         background-position: center;
       }
     }
     .seed-strip {
       bottom: -.5rem;
       @include media-breakpoint-up(lg) {
         bottom: unset;
         top: 0;
       }
       .seed-grid {
         width: 100%;
         height: 3rem;
         @include media-breakpoint-up(md) {
           height: 4.5rem;
         }
         @include media-breakpoint-up(lg) {
           width: 200%;
            height: 9rem;
            transform: translateX(-25%);
            position: absolute;
            right: 2rem;
            top: -3rem;
         }
         @include media-breakpoint-up(xl) {
           height: 10.5rem;
         }
       }
     }
   }
 }
}

.services {
  .gallery {
    .seed-grid {
      width: 200%;
      height: 10rem;
      transform: translateY(-6rem);
      position: absolute;
      right: 0;
      top: 0;
      @include media-breakpoint-up(lg) {
        height: 12rem;
      }
    }
    .service {
      .card {
        border: none;
        padding: 1rem;
        @include media-breakpoint-up(md) {
          padding: 2rem;
        }
        @include media-breakpoint-up(lg) {
          padding: 2.5rem;
        }
      }
      p + ul {
        margin-top: 1rem;
        li {
          font-weight: 700;
          padding-left: .5rem;
          position: relative;
          &::after {
            content: "-";
            position: absolute;
            top: 0;
            left: 0;
          }
        }
      }
    }
  }
}

.projects {
  .current-project, .past-project {
    a.button {
      .more {
        display: inline;
      }
      .less {
        display: none;
      }
      &[aria-expanded = true] {
        .more {
          display: none;
        }
        .less {
          display: inline;
        }
      }
    }
  }
  .current-project {
    .project-cover {
      position: relative;
      img {
        max-height: 75vh;
        object-fit: contain;;
      }
      .seed-strip {
        @include media-breakpoint-up(lg) {
          top: 0;
          left: 0;
        }
      }
      .seed-grid {
        width: 200%;
        height: 4.5rem;
        position: absolute;
        left: 0;
        bottom: -1rem;
        @include media-breakpoint-up(lg) {
          height: 7.5rem;
          top: -2rem;
          bottom: unset;
        }
        @include media-breakpoint-up(xl) {
          height: 10.5rem;
          top: -5.5rem;
        }
      }
    }
  }
}
