// Variables
//

//
// Color system
//

// cores do Conasems

$white: #FFFFFF;
$rose: #F5EFF0;
$red: #EB5F6D;
$dark-red: #D04D61;
$wine: #792B48;

$colors: () !default;
$colors: map-merge((
  "white":         $white,
  "rose":         $rose,
  "red":         $red,
  "dark-red":         $dark-red,
  "wine":         $wine
), $colors);

$custom_primary:       $red !default;
$custom_secondary:     $dark-red !default;

// Custom widths for custom containers
$container-fluid-widths: (
  sm: 100%,
  md: 91.6666666666%,
  lg: 83.3333333333%,
  xl: 80%
) !default;

$grid-breakpoints: (
  xs: 0,
  sm: 375px,
  md: 768px,
  lg: 1025px,
  xl: 1441px
) !default;

// Grid columns
//
// Specify the width of the gutters.
$grid-gutter-width:           1rem;

$grid-columns:                12 !default;

$border-width: 2px;
$border-color: rgba($wine, .3);

// Components
//
// Define common border radius sizes.
$custom_border-radius:               .125rem;
$custom_border-radius-lg:            .125rem;
$custom_border-radius-sm:            .125rem;

// original value: height .35s ease !default;
$custom_transition-collapse: height .35s ease-in-out !default;

// Fonts
//
// Font, line-height, and color for body text, headings, and more.
$custom_font-family-sans-serif:      "basic-sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$custom_font-size-base:              .6666666666rem;
$custom_font-weight-light:           100;
$custom_font-weight-normal:          200;
$custom_font-weight-bold:            400;

$custom_btn-font-weight: 200;

// Forms
//
$custom_input-color:                          $dark-red;
$custom_input-focus-border-color:              $dark-red;
$custom_input-btn-border-width:                2px;

$component-mobile-margin-bottom: 2rem;
$component-desktop-margin-bottom: 4rem;

$btn-border-width: 2px;
$btn-line-height: 1rem;
$btn-border-radius: 4px;
$btn-padding-y: .5rem;
$btn-padding-x: .5rem;
$font-size: .5rem;

$btn-padding-y-lg: .75rem;
$btn-padding-x-lg: 1rem;
$font-size-lg: .75rem;
$btn-line-height-lg: 1.5rem;
$btn-border-radius-lg: 6px;

$custom_dropdown-link-active-color: $white;

$navbar-padding-y:                  0 !default;
$navbar-padding-x:                  $grid-gutter-width / 2 !default;
